<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form method="post" action="http://localhost:8000/create/">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="Имя"><br>
    <input type="text" name="last_name" placeholder="Фамилия"><br>
    <input type="email" name="email" placeholder="Почта"><br>
    <input type="password" name="password" placeholder="Пароль"><br>
    <button type="submit">Создать</button><br>
</form>
</body>
</html>
