{% extends 'base.html' %}

{% block title %}Все продукты{% endblock title %}

{% block content %}
{% for product in products %}
<h1>{{ brand }}</h1>
    <img src="{{ logo }}" alt="{{ brand }} Logo" class="logo">

    <p class="rating">Rating: ⭐️ {{ rating }}/5</p>
    <p class="status">Status: {{ "Not boycotted" if status else "Boycotted" }}</p>

    <div class="description">
        <p><strong>EN:</strong> {{ description_en }}</p>
        <p><strong>RU:</strong> {{ description_ru }}</p>
        <p><strong>KG:</strong> {{ description_kg }}</p>
    </div>

    <div class="links">
        {% if url_en %} <a href="{{ url_en }}" target="_blank">Website (EN)</a> {% endif %}
        {% if url_ru %} <a href="{{ url_ru }}" target="_blank">Website (RU)</a> {% endif %}
        {% if url_kg %} <a href="{{ url_kg }}" target="_blank">Website (KG)</a> {% endif %}
    </div>
{% endif %}
{% endblock content %}
