{% extends 'base.html' %}

{% block title %}Все продукты{% endblock title %}

{% block content %}
{% for product in products %}
<h1>{{ product.brand }}</h1>
<img src="{{ product.logo }}" width="400px" height="400px" alt="{{ product.brand }} Logo" class="logo">

<p class="rating">Rating: ⭐ {{ product.rating }}/5</p>
<p class="status">Status:
    {% if product.status %}
    "Not boycotted"
    {% else %}
    "Boycotted"
    {% endif %}
</p>

<div class="description">
    <p><strong>EN:</strong> {{ product.description_en }}</p>
    <p><strong>RU:</strong> {{ product.description_ru }}</p>
    <p><strong>KG:</strong> {{ product.description_kg }}</p>
</div>

<div class="links">
    {% if product.url_en %} <a href="{{ product.url_en }}" target="_blank">Website (EN)</a> {% endif %}
    {% if product.url_ru %} <a href="{{ product.url_ru }}" target="_blank">Website (RU)</a> {% endif %}
    {% if product.url_kg %} <a href="{{ product.url_kg }}" target="_blank">Website (KG)</a> {% endif %}
</div>
{% endfor %}
{% endblock content %}
